body {
    background: rgb(236, 77, 77);
}

.container {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    background: transparent;
}
.button {
    width: 50px;
    height: 50px;
    font-size: 29px;
    margin: 2px;
    border: none;
    color: white;
    cursor: pointer;
    background: rgb(36, 36, 36);
}

.button:hover{
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    color: white;
    cursor: pointer;
    background: rgb(9, 77, 9);
}
.hasil{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    background: white;
    opacity: 80%;
}